html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #1c1f24;
}

